{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.eslint.json",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },
  "extends": [
    "airbnb-typescript",
    "airbnb/hooks",
    "prettier",
    "plugin:security/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["prettier", "security", "import"],
  "rules": {
    "prettier/prettier": ["error"],
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "consistent-return": "off",
    "react/jsx-one-expression-per-line": "off"
  }
}
